<div class="rootContainer">
  <div class="LHSContent">
    <div class="title">
      <h1>Notes</h1> 
      <h1 (click)="onAdd()" style="cursor: pointer;">+</h1>
    </div>

    <div *ngFor="let title of titles">
      <div class="title">
        <h3 (click)="onTitle(title)" style="cursor: pointer;">{{ title }}</h3>
        <h3 (click)="onDelete(title)" style="cursor: pointer;">X</h3>
      </div>
    </div>
  </div>

  <div class="RHSContent">
    <app-note
      (titleCreated)="getContents($event)"
      [insertedTitle]="title"
      [insertedContent]="content"
    ></app-note>
  </div>
</div>
